@font-face {
    font-family: "Minefont";
    src: url(fonts/minecraftfont.woff) format("woff");
}

body{
    background: rgb(0,0,25);
}

.gameContainer{
    width: fit-content;
    margin: 1.25rem auto;
    padding: 1rem 5rem 1rem 5rem;
    background-color: rgb(255,255,255,.10);
    text-align: center;
    border-radius: 1rem;
    box-shadow: .5em .5em rgb(100,255,255,.8);
    border: 2rem ridge rgb(100,200,255,.7);
}

.title{
    font: 10rem "Minefont";
    text-shadow: .04em .04em darkcyan;
    color: cyan;
    margin: 0rem;
    cursor: pointer;
}

.title:hover{
    color: rgb(0,100,255);
    text-shadow: -.04em -.04em white;
    user-select: none;
}

.dottedHR{
    width: 100%;
    border: none;
    border-top: 1rem dotted cyan;
}

.grid{
    border-radius: 1rem; 
    border-spacing: 1rem;
}

.cell{
    color: cyan;
    font: 7rem "Minefont";
    text-align: center;
    text-shadow: .04em .04em darkcyan;
    border: .5rem ridge white;
    height: 11vw;
    width: 11vw;
    margin: 1rem auto;
}

.cell:hover{
    box-shadow: -.05em -.05em rgb(100,255,255,.8);
    cursor: pointer;
    user-select: none;
}

.turnTracker{
    font: 2rem "Minefont";
    color: white;
}

